@import 'bootstrap/dist/css/bootstrap';

.search-area{
  padding-top: 4em;
}

.no-right-padding{
  padding-right: 0 !important;
}
.no-left-padding{
  padding-left: 0 !important;
}

.results-block{
  display: inline-block;
  margin-bottom: 1rem;
  background-color: rgb(38, 39, 39);
  color: rgb(64, 205, 224);
}

.logout-button{
  margin-right: 0.4em;
}
